.main {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 7.5rem;
}
.inputBox {
  width: 24rem;
  height: 2.5rem;
  padding: 10px 14px;
  gap: 8px;
  border-radius: 22px;
  border: 1px solid rgba(47, 48, 55, 0.3);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  text-align: center;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--main-black-color);
}
.inputBox::placeholder {
  text-align: center;
  color: var(--main-gray-color);
}
.btnContainer {
  margin-top: 2rem;
  width: 20rem;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .btnSearch {
    background-color: var(--main-blue-color);
    color: var(--main-white-color);

    padding: 6px 30px;
    gap: 8px;
    border-radius: 24px;
    border: none;

    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    cursor: pointer;
  }
  .loadingBtn {
    background-color: rgba(47, 48, 55, 0.5);
    color: var(--main-white-color);

    padding: 6px 30px;
    gap: 8px;
    border-radius: 24px;
    border: none;

    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    pointer-events: none;
  }
  .btnReset {
    background-color: var(--main-white-color);
    color: var(--main-black-color);
    padding: 6px 30px;
    gap: 8px;
    border-radius: 24px;
    border: 1px solid var(--main-gray-color);

    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    cursor: pointer;
  }
}
.errorMsg {
  margin-top: 1.5rem;
  padding: 8px 20px;
  gap: 10px;
  border-radius: 8px;
  background-color: rgba(255, 242, 242, 1);
  border: 1px solid rgba(201, 13, 13, 1);

  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  span {
    color: rgba(33, 122, 218, 1);
  }
}
